@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@100;500&family=Roboto&display=swap');

.head {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 3vh;
    margin-bottom: 4% ;
}
.textCon {
    width: 100vw;
    height: auto;
    height: 20vh;
    background-color: #B9CEAC;
    display: flex;
    justify-content: center;
    align-items: center;

  }
.text {
    width: 80vw;
    text-align: left;
    font-size: 2.25vh;
    font-family: "Roboto", sans-serif;
}
.btnSVKasten {
    font-weight: 600;
    font-size: 2.25vh;
    background-color: rgb(14, 181, 14);
    padding: 1vh;
    border-radius: 5px;
    margin-top: 5%;

}
button {
    border: none;
    background: none;
    font-family: "Roboto", sans-serif;
}
.inSVKasten {
    margin-top: 5%;
    width: 70%;
    height: 10vh;
    color: black;
    border: rgb(177, 177, 177) 1px solid;
    font-size: 2.25vh;
}
